@use "./partials/page-size.scss";

.background {
  background-image: url("./images/greek-key-background.jpeg");
  @extend page;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.opaque {
  @extend page;
  background-color: rgba(241, 237, 237, 0.5);
}
