@use "./partials/fonts";

.books {
  padding-top: 35px;
  

  &__grid {

  }

  &__grid__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  list-style-type: none;
  background-color: rgba($color: #FFFF, $alpha: 0.8);
  // border: white 2px solid;
  border-radius: 5px;
  height: 450px;
  padding: 20px;
}


.cover {
  height: 200px;
  width: 150px;
  border-radius: 5px;
  align-items: center;
}

.title {
  @extend secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  border: none;
}

.author {
  @extend secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

.description {   
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  @extend secondary;
  margin-top: 0%;
}

