page, .background, .opaque {
  width: 100% auto;
  height: fill;
}

.background {
  background-image: url("./images/background_library.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.5);
}

btn, #getBooks {
  background-color: #191919;
  color: white;
  border: 1px solid #191919;
  border-radius: 5px;
  margin-left: 5px;
}

btn:hover, #getBooks:hover {
  cursor: pointer;
}

btn:active, #getBooks:active {
  background-color: white;
  color: #191919;
}

.srch {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25px;
}
.srch__input {
  border-radius: 5px;
}

#getBooks {
  font-family: "Caesar Dressing", sans-serif;
}

main, .header__main {
  font-family: "Caesar Dressing", sans-serif;
}

secondary, .header__sub, .title, .author, .description {
  font-family: "Stylish", sans-serif;
}

.books {
  padding-top: 35px;
  height: 800px;
}
.books__grid__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  width: 150px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 350px;
}

.cover {
  height: 200px;
  width: 150px;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
  border: none;
}

.author {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.description {
  width: 145px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  margin-top: 0%;
}

.top {
  height: 230px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}
.header__main {
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
}
.header__sub {
  color: white;
  padding-top: 0%;
  margin-right: 5%;
}

.column__left {
  grid-area: left;
  height: 10rem;
  margin-left: 2%;
}
.column__right {
  grid-area: right;
  height: 10rem;
  margin-right: 2%;
}
