page, .background, .opaque {
  width: auto;
  height: 1200px;
  background-repeat: repeat-y;
}

.background {
  background-image: url("./images/greek-key-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.opaque {
  background-color: rgba(241, 237, 237, 0.5);
}

btn, #getBooks {
  background-color: #7992A9;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
}

btn:hover, #getBooks:hover {
  cursor: pointer;
}

btn:active, #getBooks:active {
  background-color: white;
  color: #7992A9;
  border: 1px solid #7992A9;
}

.srch {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25px;
}
.srch__input {
  border-radius: 5px;
}

#getBooks {
  font-family: "Caesar Dressing", sans-serif;
}

main, .header__main {
  font-family: "Caesar Dressing", sans-serif;
}

secondary, .header__sub, .title, .author, .description {
  font-family: "Stylish", sans-serif;
}

.books {
  padding-top: 35px;
}
.books__grid__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  height: 450px;
  padding: 20px;
}

.cover {
  height: 200px;
  width: 150px;
  border-radius: 5px;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  border: none;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

.description {
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  margin-top: 0%;
}

.top {
  height: 250px;
  background-color: #7992A9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}
.header__main {
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
}
.header__sub {
  color: white;
  padding-top: 0%;
  margin-right: 5%;
}

.column__left {
  grid-area: left;
  height: 10rem;
  margin-left: 2%;
}
.column__right {
  grid-area: right;
  height: 10rem;
  margin-right: 2%;
}

@media only screen and (min-width: 993) {
  .top {
    height: 350px;
  }
}
@media only screen and (min-width: 766px) and (max-width: 992px) {
  .background {
    width: 992;
    height: 1000px;
    background-repeat: repeat-y;
  }
}
@media only screen and (max-width: 500px) {
  .background {
    width: auto;
    height: auto;
    background-repeat: repeat-y;
  }
}
